<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Create New Account</h1>
    <button class="button button-clear button-primary" ng-click="vm.modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <form name="signUpForm">
        <label class="item item-input">
          <span class="input-label">Email Address</span>
          <input ng-model="vm.user.email" type="text" ng-required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Passsword</span>
          <input ng-model="vm.user.password" type="password" ng-required="required">
        </label>
        <label class="item item-input">
          <span class="input-label">Display Name</span>
          <input ng-model="vm.user.username" type="text" ng-required="required">
        </label>
        <button class="button button-full button-positive"
        ng-disabled="!signUpForm.$valid"
        ng-click="vm.createUser()">Create</button>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
