// Color variable
// Revised Dec 30 2015. See https://trello.com/c/HVJNd1rt
$grey: #ECF6ED;
$gray: #ECF6ED;
$lightGray: #f2f2f2;
$middleGray: #c9c8c7;
$white: #fff;
$black: #000;
$green: #7AC195;
$lightGreen: #B5DDBF;
$lightYellow: #E1E35D;
$blue: #54A4DB;
$lightBlue: #79A4BE;
$darkBlue: #303C3F;
$red: #941D22;
$lightRed:#BF7B7B;
