<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.xifengzhu.firebasechat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ionic-firebase-chat</name>
  <description>
    ionic firebase chat
    </description>
  <author email="xifengzhu520@gmail.com" href="https://github.com/xifengzhu">
      xifengzhu520@gmail.com
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
